* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style:none;
    font-family: 'Poppins', sans-serif;

}



body {
    background-color: #f5f5f5;
}


header {
    background: url('/Astronauta/imagenes/hero.svg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    
}
.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu .logo {
    font-weight: 700;
    font-size: 25px;
    color: white;
}
.menu .navbar ul li{
    position: relative;
    float:left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
}
.menu .navbar ul li a:hover{
    color: #0eaef3;
}
#menu{
display: none;
}

.menu-icon {
    width: 25px;
}

.nav ul {
    cursor: pointer;
    display: none;
}



.header-content {
    display: flex;
    
}
.content{
    padding: 150px 150px 0 0;
}

.content h1{
    color: white;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 55px;
}

.content p{
    margin-top: 25px;
    color: white;
    text-transform: uppercase;
    font-size: 35%;
    line-height: 40px;
}
.btn-1{
    display: inline-block;
    background-color: rgba(170, 177, 255, 0.3);
    border: 1px solid #AAB1FF;
    margin: 35px 10px 0 0;
    padding: 15px 25px ;
    color: white;
    border-radius: 25px;
}
